server.modules += ( "mod_setenv" )

setenv.add-response-header = (
 "Cache-Control" => "no-cache, no-store, must-revalidate",
 "Pragma" => "no-cache",
 "Expires" => "0"
)

server.document-root = "." 

server.port = 8088

mimetype.assign = (
  ".html" => "text/html", 
  ".js" => "application/javascript",
  ".jpg" => "image/jpeg",
  ".png" => "image/png",
  ".css" => "text/css",
)

index-file.names = ( "index.html" )
